{# Website contact info email, WhatsApp and Phonecall number  by José Luis Olivares. 
You can say thanks endorsing my skills on https://www.linkedin.com/in/jolivaress/.
and/or  making a voluntary donation through Paypal https://paypal.me/joolivares #}

{% extends '@nucleus/partials/particle.html.twig' %} 

{% set title_heading %} {# definiendo que heading mostrar y almacenando en variable title_heading #}
    {% if particle.heading|e == h1 %}
        <h1 class="uk-card-title">{{ particle.title|raw}}</h1>
    {% endif %}

    {% if particle.heading|e == h2 %}
        <h2 class="uk-card-title">{{ particle.title|raw}}</h2>
    {% endif %}

    {% if particle.heading|e == h3 %}
        <h3 class="uk-card-title">{{ particle.title|raw}}</h3>
    {% endif %}            
{% endset %}


{% block particle %}{# comienza el código de la particula #}
    <div class="{{ particle.css.class|e }}" {% if particle.animation %} uk-scrollspy="target: p; delay: {{particle.anim_delay}}; repeat: true" {% endif %}>   
        <div class="{{ particle.cardbody.class|e }} uk-card uk-card-default uk-card-hover  uk-card-body">
            {% if particle.show_title %}
                {{ title_heading|e}}
            {% endif %}

            {% if particle.email_show %}
                <p uk-scrollspy-class="{{ particle.email_animation|raw}}"><i class="{{particle.email_icon|e}}"></i> Email: <a href="{{particle.email|e}}" class="{{particle.email_link_css|e}}">{{particle.email|e}}</a></p>
            {% endif %}

            {% if particle.ws_show %}
                <p uk-scrollspy-class="{{ particle.ws_animation|raw}}"><i class="{{ particle.ws_icon|e}}"></i> WhatsApp: <a class="{{particle.ws_css}}" href="https://wa.me/{{particle.ws_phone|e}}?text={{particle.ws_prefilledmessage|e}}">{{ particle.ws_displayed|raw}}</a></p>
            {% endif %}

            {% if particle.phone_show %}
                <p uk-scrollspy-class="{{ particle.phone_animation|raw}}"><i class="{{ particle.phone_icon|e}}"></i> Phone Calls: <span class="{{particle.phone_css}}">{{ particle.phone|raw}}</span></p>
            {% endif %}
        </div>
    </div>
{% endblock %}