{# Website contact info email, WhatsApp and Phonecall number  by José Luis Olivares. 
You can say thanks endorsing my skills on https://www.linkedin.com/in/jolivaress/.
and/or  making a voluntary donation through Paypal https://paypal.me/joolivares #}

{% extends '@nucleus/partials/particle.html.twig' %} 

{% set title_heading %} {# definiendo que heading mostrar y almacenando en variable title_heading #}
    {% if particle.heading|e == h1 %}
        <h1 class="uk-card-title">{{ particle.title|raw}}</h1>
    {% endif %}

    {% if particle.heading|e == h2 %}
        <h2 class="uk-card-title">{{ particle.title|raw}}</h2>
    {% endif %}

    {% if particle.heading|e == h3 %}
        <h3 class="uk-card-title">{{ particle.title|raw}}</h3>
    {% endif %}            
{% endset %}


{% block particle %}{# comienza el código de la particula #}
    <div class="{{ particle.css.class|e }}" {% if particle.animation %} uk-scrollspy="target: p; delay: {{particle.anim_delay}}; repeat: true" {% endif %}>   
        <div class="{{ particle.cardbody.class|e }} uk-card uk-card-default uk-card-hover  uk-card-body">
            {% if particle.show_title %}
                {{ title_heading|e}}
            {% endif %}
            <p uk-scrollspy-class="{{ particle.email_animation|raw}}"><{{ particle.email_icon|e}}i class="far fa-envelope"></> Email: <a href="{{particle.email|e}}" class="uk-link-reset">{{particle.email|e}}</a></p>
            <p uk-scrollspy-class="{{ particle.ws_animation|raw}}">{{ particle.ws_icon|e}} WhatsApp: <a class="uk-link-reset" href="https://wa.me/{{particle.ws_phone|e}}?text={{particle.ws_prefilledmessage|e}}">{{ particle.ws_displayed|raw}}</a></p>
            <p uk-scrollspy-class="{{ particle.phone_animation|raw}}">{{ particle.phone_icon|e}} Phone Calls: <span>{{ particle.phone|raw}}</span></p>
        </div>
    </div>
{% endblock %}